/* line 3, ../sass/drupal-reset.scss */
#header #name-and-slogan #site-name strong {
  font-size: 2em;
  font-family: 'Palatino Linotype','Book Antiqua',Palatino,serif;
  font-weight: bold;
}

/* line 9, ../sass/drupal-reset.scss */
#site-name {
  margin: 0.67em 0;
}

/* line 13, ../sass/drupal-reset.scss */
#toolbar {
  background: #666;
  color: #CCC;
  font: normal small "Lucida Grande", Verdana, sans-serif;
  left: 0;
  margin: 0 -20px;
  padding: 0 20px;
  position: fixed;
  right: 0;
  top: 0;
  -moz-box-shadow: 0 3px 9px #000;
  -webkit-box-shadow: 0 3px 9px #000;
  box-shadow: 0 3px 9px #000;
  filter: progid:DXImageTransform.Microsoft.Shadow(color=#000000, direction='180', strength='3');
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(color=#000000, direction='180', strength='3')";
  z-index: 600;
}

/* line 31, ../sass/drupal-reset.scss */
div.messages {
  margin: 0;
  border: none;
  background-color: transparent;
}

/* line 38, ../sass/drupal-reset.scss */
div.message-wrapper.error {
  border: none;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(30%, #ffcdcc), color-stop(70%, #ff6b64), color-stop(100%, #ff0700));
  background-image: -webkit-linear-gradient(#ffffff, #ffcdcc 30%, #ff6b64 70%, #ff0700);
  background-image: -moz-linear-gradient(#ffffff, #ffcdcc 30%, #ff6b64 70%, #ff0700);
  background-image: -o-linear-gradient(#ffffff, #ffcdcc 30%, #ff6b64 70%, #ff0700);
  background-image: -ms-linear-gradient(#ffffff, #ffcdcc 30%, #ff6b64 70%, #ff0700);
  background-image: linear-gradient(#ffffff, #ffcdcc 30%, #ff6b64 70%, #ff0700);
}
/* line 43, ../sass/drupal-reset.scss */
div.message-wrapper.error div.error {
  color: #740000;
}

/* line 48, ../sass/drupal-reset.scss */
div.message-wrapper.warning {
  border: none;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(30%, #ffffcc), color-stop(70%, #ffff64), color-stop(100%, #fffd00));
  background-image: -webkit-linear-gradient(#ffffff, #ffffcc 30%, #ffff64 70%, #fffd00);
  background-image: -moz-linear-gradient(#ffffff, #ffffcc 30%, #ffff64 70%, #fffd00);
  background-image: -o-linear-gradient(#ffffff, #ffffcc 30%, #ffff64 70%, #fffd00);
  background-image: -ms-linear-gradient(#ffffff, #ffffcc 30%, #ffff64 70%, #fffd00);
  background-image: linear-gradient(#ffffff, #ffffcc 30%, #ffff64 70%, #fffd00);
}
/* line 53, ../sass/drupal-reset.scss */
div.message-wrapper.warning div.warning {
  color: #747300;
}

/* line 58, ../sass/drupal-reset.scss */
div.message-wrapper.status {
  border: none;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(30%, #96ff9d), color-stop(70%, #64ff71), color-stop(100%, #00c90d));
  background-image: -webkit-linear-gradient(#ffffff, #96ff9d 30%, #64ff71 70%, #00c90d);
  background-image: -moz-linear-gradient(#ffffff, #96ff9d 30%, #64ff71 70%, #00c90d);
  background-image: -o-linear-gradient(#ffffff, #96ff9d 30%, #64ff71 70%, #00c90d);
  background-image: -ms-linear-gradient(#ffffff, #96ff9d 30%, #64ff71 70%, #00c90d);
  background-image: linear-gradient(#ffffff, #96ff9d 30%, #64ff71 70%, #00c90d);
}
/* line 63, ../sass/drupal-reset.scss */
div.message-wrapper.status div.status {
  color: #005000;
}

/* line 68, ../sass/drupal-reset.scss */
ul.tabs.primary {
  padding: .5em 0;
}

/* line 72, ../sass/drupal-reset.scss */
ul.tabs.primary li a {
  padding: .5em 1em;
}
