/* line 1, ../sass/layout.scss */
#page, #main-content, #header, #footer {
  width: 100%;
  position: relative;
}

/* line 6, ../sass/layout.scss */
#main-content {
  float: right;
  margin-left: -100%;
  margin-top: 200px;
}

/* line 12, ../sass/layout.scss */
#header {
  float: left;
  height: 200px;
  position: absolute;
}

/* line 18, ../sass/layout.scss */
#header #secondary-menu {
  float: right;
}

/* line 25, ../sass/layout.scss */
#header:after {
  clear: both;
}

/* line 29, ../sass/layout.scss */
.two-sidebars #logo {
  width: 18%;
}

/* line 33, ../sass/layout.scss */
#logo {
  float: left;
  margin: 25px 0;
  width: 18%;
}

/* line 39, ../sass/layout.scss */
#logo a {
  height: 100%;
  width: 100%;
  max-width: 130px;
  display: block;
  margin: 0 auto;
}

/* line 47, ../sass/layout.scss */
#logo img {
  width: 100%;
  height: 100%;
  max-height: 150px;
}

/* line 53, ../sass/layout.scss */
#footer {
  clear: both;
}

/* line 57, ../sass/layout.scss */
.one-sidebar .sidebar {
  width: 33.9%;
}

/* line 61, ../sass/layout.scss */
.one-sidebar #sidebar-second {
  float: right;
}

/* line 65, ../sass/layout.scss */
.one-sidebar #sidebar-first {
  float: left;
}

/* line 69, ../sass/layout.scss */
.one-sidebar #content {
  width: 66.1%;
  float: left;
}

/* line 74, ../sass/layout.scss */
.two-sidebars .sidebar {
  width: 18%;
}

/* line 78, ../sass/layout.scss */
.two-sidebars #sidebar-second {
  float: right;
}

/* line 82, ../sass/layout.scss */
.two-sidebars #sidebar-first {
  float: left;
  margin-left: -79%;
}

/* line 87, ../sass/layout.scss */
.two-sidebars #content {
  width: 61%;
  float: left;
  margin-left: 18%;
}

/* line 93, ../sass/layout.scss */
.fifty {
  float: left;
  width: 50%;
}

/*****  User Login / Register Pages *****/
/* line 99, ../sass/layout.scss */
.page-user #block-system-main, .page-user .fifty .inner {
  padding: 1em;
}
