/* BLOCK ELEMENTS */
/* line 4, ../sass/reset.scss */
html, div, map, dt, form {
  display: block;
}

/* line 5, ../sass/reset.scss */
body {
  display: block;
  margin: 0;
  padding: 0;
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: medium;
  height: 100%;
  width: 100%;
  line-height: 161.803399%;
}

/* line 6, ../sass/reset.scss */
p, dl {
  display: block;
  margin: 1em 0;
}

/* line 7, ../sass/reset.scss */
dd {
  display: block;
  margin-left: 40px;
}

/* line 8, ../sass/reset.scss */
address {
  display: block;
  font-style: italic;
}

/* line 9, ../sass/reset.scss */
blockquote {
  display: block;
  margin: 1em 40px;
}

/* line 10, ../sass/reset.scss */
h1, h2, h3, h4, h5, h6 {
  display: block;
  font-weight: bold;
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
}

/* line 11, ../sass/reset.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 12, ../sass/reset.scss */
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

/* line 13, ../sass/reset.scss */
h3 {
  font-size: 1.125em;
  margin: 0.10em 0;
}

/* line 14, ../sass/reset.scss */
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

/* line 15, ../sass/reset.scss */
h5 {
  font-size: 0.75em;
  margin: 1.67em 0;
}

/* line 16, ../sass/reset.scss */
h6 {
  font-size: 0.5625em;
  margin: 2.33em 0;
}

/* line 17, ../sass/reset.scss */
pre {
  display: block;
  font-family: monospace;
  white-space: pre;
  margin: 1em 0;
}

/* line 18, ../sass/reset.scss */
hr {
  display: block;
  height: 2px;
  border: 1px;
  margin: 0.5em auto;
}

/* TABLE ELEMENTS */
/* line 21, ../sass/reset.scss */
table {
  border-spacing: 2px;
  border-collapse: separate;
  margin: 0;
  text-indent: 0;
}

/* line 22, ../sass/reset.scss */
caption {
  text-align: center;
}

/* line 23, ../sass/reset.scss */
td {
  padding: 1px;
}

/* line 24, ../sass/reset.scss */
th {
  font-weight: bold;
  padding: 1px;
}

/* line 25, ../sass/reset.scss */
tbody, thead, tfoot {
  vertical-align: middle;
}

/* INLINE ELEMENTS */
/* line 28, ../sass/reset.scss */
strong {
  font-weight: bold;
}

/* line 29, ../sass/reset.scss */
cite, em, var, dfn {
  font-style: italic;
}

/* line 30, ../sass/reset.scss */
code, kbd, samp {
  font-family: monospace;
}

/* line 31, ../sass/reset.scss */
ins {
  text-decoration: underline;
}

/* line 32, ../sass/reset.scss */
del {
  text-decoration: line-through;
}

/* line 33, ../sass/reset.scss */
sub {
  vertical-align: -0.25em;
  font-size: smaller;
  line-height: normal;
}

/* line 34, ../sass/reset.scss */
sup {
  vertical-align: 00.50em;
  font-size: smaller;
  line-height: normal;
}

/* LIST ELEMENTS */
/* line 38, ../sass/reset.scss */
ul {
  list-style-type: disc;
  margin: 1em 0 1em 40px;
  padding-left: 0;
}

/* line 39, ../sass/reset.scss */
ol {
  list-style-type: decimal;
  margin: 1em 0 1em 40px;
  padding-left: 0;
}

/* remove top and bottom margins for nested lists */
/* line 42, ../sass/reset.scss */
ul ul, ul ol, ul dl, ol ul, ol ol, ol dl, dl ul, dl ol, dl dl {
  margin-top: 0;
  margin-bottom: 0;
}

/* use cirle when nested two deep */
/* line 45, ../sass/reset.scss */
ol ul, ul ul {
  list-style-type: circle;
}

/* use square when nested tree deep */
/* line 48, ../sass/reset.scss */
ol ol ul, ol ul ul, ul ol ul, ul ul ul {
  list-style-type: square;
}

/* ANCHOR  */
/* line 51, ../sass/reset.scss */
a {
  cursor: pointer;
  text-decoration: none;
}

/* line 52, ../sass/reset.scss */
a:hover {
  text-decoration: underline;
}

/* COLORS */
/* line 55, ../sass/reset.scss */
body {
  color: #111133;
}

/* line 56, ../sass/reset.scss */
a {
  color: #3344bb;
}

/* line 57, ../sass/reset.scss */
a:visited {
  color: #001188;
}

/* line 58, ../sass/reset.scss */
a:hover {
  color: #3333aa;
}
