@import "base";

#header #name-and-slogan #site-name strong {
  font-size: 2em;
  font-family: 'Palatino Linotype','Book Antiqua',Palatino,serif;
  font-weight: bold;
}

#site-name {
  margin: 0.67em 0;
}

#toolbar {
  background: #666;
  color: #CCC;
  font: normal small "Lucida Grande", Verdana, sans-serif;
  left: 0;
  margin: 0 -20px;
  padding: 0 20px;
  position: fixed;
  right: 0;
  top: 0;
  -moz-box-shadow: 0 3px 9px #000;
  -webkit-box-shadow: 0 3px 9px #000;
  box-shadow: 0 3px 9px #000;
  filter: progid:DXImageTransform.Microsoft.Shadow(color=#000000, direction='180', strength='3');
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(color=#000000, direction='180', strength='3')";
  z-index: 600;
}

div.messages {
  margin: 0;
  border: none;
  
  background-color: transparent;
}

div.message-wrapper.error {
  border: none;

  @include background-image(linear-gradient(adjust-lightness($error-bg, 100), adjust-lightness($error-bg, 40) 30%, $error-bg + 100 70%, $error-bg));

  div.error {
    color: $error-text - 50;
  }
}

div.message-wrapper.warning {
  border: none;

  @include background-image(linear-gradient(adjust-lightness($warning-bg, 100), adjust-lightness($warning-bg, 40) 30%, $warning-bg + 100 70%, $warning-bg));
  
  div.warning {
    color: $warning-text - 50;
  }
}

div.message-wrapper.status {
  border: none;

  @include background-image(linear-gradient(adjust-lightness($message-bg, 100), adjust-lightness($message-bg, 40) 30%, $message-bg + 100 70%, $message-bg));
  
  div.status {
    color: $message-text - 50;
  }
}

ul.tabs.primary {
  padding: .5em 0;
}

ul.tabs.primary li a {
  padding: .5em 1em;
}
