.form-item {
  width: 100%;
  clear: both;
}

.form-item .description {
  display: none;
}

.buttons, .form-actions input {
    float: left;
    padding-bottom: 20px;
    margin: 0;
}
a.button, .form-actions input {
    color: #6e6e6e;
    font: bold 12px Helvetica, Arial, sans-serif;
    text-decoration: none;
    padding: 7px 12px;
    position: relative;
    display: inline-block;
    text-shadow: 0 1px 0 #fff;
    -webkit-transition: border-color .218s;
    -moz-transition: border .218s;
    -o-transition: border-color .218s;
    transition: border-color .218s;
    background: #f3f3f3;
    background: -webkit-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1));
    background: -moz-linear-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1));
    border: solid 1px #dcdcdc;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    margin-right: 10px;
}
a.button:hover, .form-actions input:hover {
    color: #333;
    border-color: #999;
    // -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2) -webkit-box-shadow:0 2px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
a.button:active, .form-actions input:active {
    color: #000;
    border-color: #444;
}
a.left, .form-actions input.left {
    -webkit-border-top-right-radius: 0;
    -moz-border-radius-topright: 0;
    border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-bottomright: 0;
    border-bottom-right-radius: 0;
    margin: 0;
}
a.middle, .form-actions input.middle {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-left: solid 1px #f3f3f3;
    margin: 0;
    border-left: solid 1px rgba(255, 255, 255, 0);
}
a.middle:hover,
a.right:hover,
.form-actions input.right:hover { border-left: solid 1px #999 }
a.right, .form-actions input.right {
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topleft: 0;
    border-top-left-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-bottomleft: 0;
    border-bottom-left-radius: 0;
    border-left: solid 1px #f3f3f3;
    border-left: solid 1px rgba(255, 255, 255, 0);
}
a.big, .form-actions input.big {
    font-size: 16px;
    padding: 10px 15px;
}
a.supersize, .form-actions input.supersize {
    font-size: 20px;
    padding: 15px 20px;
}
a.save, .node-form input#edit-submit.form-submit, input#edit-save.form-submit {
    background: url(../images/sprite.png) 10px 7px no-repeat #f3f3f3;
    padding-left: 30px;
}
a.add, .form-actions input.add {
    background: url(sprite.png)  10px -27px no-repeat #f3f3f3;
    padding-left: 30px;
}
a.delete, input#edit-delete.form-submit,
#system-modules-uninstall input#edit-submit,
#user-multiple-delete-confirm input#edit-submit {
    background: url(../images/sprite.png)  10px -61px no-repeat #f3f3f3;
    padding-left: 30px;
}
a.flag, .form-actions input.flag {
    background: url(sprite.png)  10px -96px no-repeat #f3f3f3;
    padding-left: 30px;
}
a.up, .form-actions input.up {
    background: url(sprite.png)  13px -133px no-repeat #f3f3f3;
    width: 18px;
}
a.down, .form-actions input.down {
    background: url(sprite.png)  13px -168px no-repeat #f3f3f3;
    width: 18px;
}
a.save-big {
    background: url(sprite.png) 15px 11px no-repeat #f3f3f3;
    font-size: 16px;
    padding: 10px 15px 10px 35px;
}
a.add-big {
    background: url(sprite.png)  15px -23px no-repeat #f3f3f3;
    font-size: 16px;
    padding: 10px 15px 10px 35px;
}
a.delete-big {
    background: url(sprite.png)  15px -57px no-repeat #f3f3f3;
    font-size: 16px;
    padding: 10px 15px 10px 35px;
}
a.flag-big {
    background: url(sprite.png)  15px -92px no-repeat #f3f3f3;
    font-size: 16px;
    padding: 10px 15px 10px 35px;
}
a.up-big {
    background: url(sprite.png)  15px -128px no-repeat #f3f3f3;
    width: 18px;
    font-size: 16px;
    padding: 10px 15px;
}
a.down-big {
    background: url(sprite.png)  15px -163px no-repeat #f3f3f3;
    width: 18px;
    font-size: 16px;
    padding: 10px 15px;
}

.form-item .form-label-wrapper {
  width: 25%;
  min-width: auto;
  float: left;
  text-align: right;
}

.form-item .textField-wrapper {
  width: 75%;
  float: right;
  overflow: hidden;
  border: 1px #ccc solid;
  margin: -1px;
}

.textField-wrapper input.form-text {
  width: 100%;
  padding: 9px 0;
  text-indent: 9px;
}

input.form-text, .form-item label {
  font-size: 18px;
  padding: 9px;
}

#block-user-login .form-item label {
  white-space: nowrap;
}

#block-user-login .item-list ul {
  display: block;
  clear: both;
}

#block-user-login .item-list ul li {
  list-style: none;
  list-style-type: none;
  text-align: center;
}

#user-register-form .form-item, #user-login .form-item {
  float: left;
}
