#page, #main-content, #header, #footer {
  width: 100%;
  position: relative;
}

#main-content {
  float: right;
  margin-left: -100%;
  margin-top: 200px;
}

#header {
  float: left;
  height: 200px;
  position: absolute;
}

#header #secondary-menu {
  float: right;
}

#header:after, #header:before {
}

#header:after {
  clear: both;
}

.two-sidebars #logo {
  width: 18%;
}

#logo {
  float: left;
  margin: 25px 0;
  width: 18%;
}

#logo a {
  height: 100%;
  width: 100%;
  max-width: 130px;
  display: block;
  margin: 0 auto;
}

#logo img{
  width: 100%;
  height: 100%;
  max-height: 150px;
}

#footer {
  clear: both;
}

.one-sidebar .sidebar {
  width: 33.9%;
}

.one-sidebar #sidebar-second {
  float: right;
}

.one-sidebar #sidebar-first {
  float: left;
}

.one-sidebar #content {
  width: 66.1%;
  float: left;
}

.two-sidebars .sidebar {
  width: 18%;
}

.two-sidebars #sidebar-second {
  float: right;
}

.two-sidebars #sidebar-first {
  float: left;
  margin-left: -79%;
}

.two-sidebars #content {
  width: 61%;
  float: left;
  margin-left: 18%;
}

.fifty {
  float: left;
  width: 50%;
}

/*****  User Login / Register Pages *****/
.page-user #block-system-main, .page-user .fifty .inner {
  padding: 1em;
  
}

