@import "base";

/* BLOCK ELEMENTS */
html, div, map, dt, form  { display: block; }
body                      { display: block; margin: 0; padding: 0; font-family: "Helvetica", "Arial", sans-serif; font-size: medium; height: 100%; width: 100%; line-height: 161.803399%;}
p, dl                     { display: block; margin: 1em 0; }
dd                        { display: block; margin-left: 40px; }
address                   { display: block; font-style: italic; }
blockquote                { display: block; margin: 1em 40px; }
h1, h2, h3, h4, h5, h6    { display: block; font-weight: bold; font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif; }
h1                        { font-size: 2em; margin: 0.67em 0; }
h2                        { font-size: 1.5em; margin: 0.83em 0; }
h3                        { font-size: 1.125em; margin: 0.10em 0; }
h4                        { font-size: 1em; margin: 1.33em 0; }
h5                        { font-size: 0.75em; margin: 1.67em 0; }
h6                        { font-size: 0.5625em; margin: 2.33em 0; }
pre                       { display: block; font-family: monospace; white-space: pre; margin: 1em 0; }
hr                        { display: block; height: 2px; border: 1px; margin: 0.5em auto; }

/* TABLE ELEMENTS */
table                     { border-spacing: 2px; border-collapse: separate; margin: 0; text-indent: 0; }
caption                   { text-align: center; }
td                        { padding: 1px; }
th                        { font-weight: bold; padding: 1px; }
tbody, thead, tfoot       { vertical-align: middle; }

/* INLINE ELEMENTS */
strong                    { font-weight: bold; }
cite, em, var, dfn        { font-style: italic; }
code, kbd, samp           { font-family: monospace; }
ins                       { text-decoration: underline; }
del                       { text-decoration: line-through; }
sub                       { vertical-align: -0.25em; font-size: smaller; line-height: normal; }
sup                       { vertical-align: 00.50em; font-size: smaller; line-height: normal; }
abbr[title], actonym[title] {}

/* LIST ELEMENTS */
ul            { list-style-type: disc; margin: 1em 0 1em 40px; padding-left: 0; }
ol            { list-style-type: decimal; margin: 1em 0 1em 40px; padding-left: 0; }
/* remove top and bottom margins for nested lists */
ul ul, ul ol, ul dl, ol ul, ol ol, ol dl, dl ul, dl ol, dl dl
{ margin-top: 0; margin-bottom: 0; }
/* use cirle when nested two deep */
ol ul, ul ul
{ list-style-type: circle; }
/* use square when nested tree deep */
ol ol ul, ol ul ul, ul ol ul, ul ul ul
{ list-style-type: square; }

/* ANCHOR  */
a            { cursor: pointer; text-decoration: none; }
a:hover      { text-decoration: underline; }

/* COLORS */
body        { color: $body-color; }
a           { color: $a-color; }
a:visited   { color: $a-visited-color; }
a:hover     { color: $a-hover-color; }